<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <style>
    * {
			box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: 0;
		}
    header {
      width: 98%;
    }
    body {
      font-family: "Open Sans", sans-serif;
      background-color: rgb(202, 209, 230);
      font-size: 19px;
      max-width: 800px;
      margin: 0 auto;
      padding: 3%;
    }
    #wrapper {
      background-color: #ffc8c8;
    }
    .btn {
      float: right;
      margin: 0 2% 4% 0;
      background-color: #4d535e;
      color: #fffdfd;
      text-decoration: none;
      font-weight: 800;
      padding: 8px 12px;
      border-radius: 8px;
      letter-spacing: 2px;
    }
    hr {
      height: 1px;
      background-color: #2e2e2e;
      clear: both;
      width: 96%;
      margin: auto;
    }
    #contact {
      text-align: center;
      padding-top: 3%;
      padding-bottom: 3%;
      line-height: 16px;
      font-size: 12px;
      color: #393939;
    }
    </style>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus enim veritatis deleniti delectus aliquid ipsum dolore quia fugit impedit voluptate?</h1>
    </header>
    <div class="banner">
      <div class="row">
        <div class="col">
          <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, quod.</h1>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis dolores animi, impedit ratione ex modi molestias aperiam soluta suscipit nobis?</p>

          <p>Lorem ipsum dolor sit amet.</p>
          <a href class="btn">DevOps@gmail.com</a>
          <hr>
          <footer>
            <p id="contact">
              qwerty <br>
              qwertty <br>
              qwert.gmail.com <br>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


